<div class = "jumbotron">
  <h1>{{title1}}</h1>
  <h2>{{title2}}</h2>
</div>

<div class="grid-container">
  <div class="grid-item card">
    <div appBreakfast class="card-header">Andaluzyjskie śniadanie</div>
    <div class="card-body">
      <img src = "/assets/sniadanie_stol.jpg">
    </div>
    <div class="card-footer">Cana 2,5 EURO / osobę</div>
  </div>

  <div class="grid-item card">
    <div appBreakfast class="card-header">Lokalna atmosfera</div>
    <div class="card-body">
      <img src="/assets/sniadanie_sala.jpg">
    </div>
    <div class="card-footer">W cenie :)</div>
  </div>
</div>







